@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Ibarra+Real+Nova&display=swap');
:root {
  --border-radius: 4px;
  --color-text: rgb(255, 255, 255);
  --color-primary: #000000;
  --color-code-bg: #1D1C1C;
  --color-code: #8a6534;
  --back-main-color: #000;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: 'Cormorant SC', serif;
  font-family: 'Ibarra Real Nova', serif;
  margin: 0;
  word-wrap: break-word;
  background-color: var(--back-main-color);
  overflow-x: hidden;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
.main-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  transition-duration: 0.3s;
  z-index: 10;
  background-color: #000;
}
.main-menu-is-hidden{
  top: 0px;
  right: 100vw;
}
.mobile-menu-button{
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #000;
  border-top: 2px solid white;
  height: 60px;
  width: 60px;
  z-index: 100;
  transition-duration: 0.3s;
}
.mobile-menu-button::after, .mobile-menu-button::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 2px;
  background-color: #FFF;
  transition-duration: 0.3s;
}
.mobile-menu-button::before{
  transform-origin: -1px 58px;
}
.mobile-menu-button::after{
  transform-origin: 15px 19px;
}
.mobile-menu-button--hidden::after{
  transform:  translateY(28px);
}
.mobile-menu-button--hidden::before{
  transform: translateY(58px);
}
.mobile-menu-button--visible::after{
  transform:  rotate(45deg)  translateY(28px);
}
.mobile-menu-button--visible::before{
  transform: rotate(-45deg) translateY(58px);
}
.mobile-menu-button--visible{
border-top: 2px solid #000;
}
.sm-images-icon{
  height: 55px;
  width: 55px;
}
.sm-images-list_item *{
  pointer-events: none;
}
.sm-images-list_item{
  display: flex;
  justify-content: center;
}
.about-section{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section-title-container{
    margin-top: 50px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}
.about-section-title{
  margin: 0 auto;
}
.about-comepass_image{
  transform: rotate(45deg);
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.about-comepass-band_image{
  margin: 0 auto;
  max-width: 900px;

}
.about_comepass-description{
  margin: 0px 3rem 0px 3rem;
  text-align:left;
  padding: 10px;
  border-radius: 13px;
  font-size: 1.2rem;
  background: rgb(22,21,21);
  box-shadow: rgb(46, 46, 46) 3 3 3 3;
 background: linear-gradient(142deg, rgba(22,21,21,1) 51%, rgba(88,227,255,0.2553396358543417) 100%);
/* -webkit-box-shadow: -4px -2px 2px 0px rgba(215, 219, 255, 1);
-moz-box-shadow: -4px -2px 2px 0px rgba(215, 219, 255, 1);
box-shadow: -4px -2px 2px 0px rgba(215, 219, 255, 1);  */
}
.about_comepass-description p{
  margin: 0 auto;
}
.events__list__title{
  text-align: center;
}
.events__component{
  padding: 30px 10px 30px 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.events__list{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
}
.event__card{
  width: 90vw;
  margin-top: 20px;
  background-color: var(--color-code-bg);
  padding: 10px;
  color: var(--color-text);
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(10,10%);
  min-height: 250px;
  border-radius: 3px;
  justify-items: center;
  background: linear-gradient(135deg, rgba(29,28,28,1) 75%, rgba(88,227,255,0.2553396358543417) 100%);

}
.event__card--info__button{
  background-color: var(--color-text);
  color: var(--back-main-color);
  padding: 12px;
  grid-column: 2/3;
  grid-row: 8/10;
  height: 45px;
  width: 75px;
  justify-self: center;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 0.3s;
  border: 2px solid transparent;
}
.event__card--info__button:hover{
  background: linear-gradient(135deg, rgba(29,28,28,1) 75%, rgba(88,227,255,0.2553396358543417) 100%);
  color: #fff;
  border: 2px solid #fff;
}
.event__card__image{
  max-height: 150px;
  width: auto;
  grid-row: 3/5;
  grid-column: 2/3;
  align-self: center;
  border-radius: 7px;
}
.events__card__title{
  grid-column: 1/2;
  align-self: center;
  grid-row: 1/3;
  z-index: 3;
  padding: 0px 0px 0px 5px;
  font-size: 1.4rem;
  font-weight: bold;
  height: fit-content;
  border-radius: 0px 4px 0px 0px;
}
.events__card__description{
  grid-column: 1/2;
  grid-row: 4/10;
}
.events__card_date{
  grid-column: 2/3;
  grid-row: 6/7;
  font-weight: 300;
}
.merch__info--baner{
  display: grid;
  width: 100vw;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100px;
  font-size: 32px;
  text-transform: uppercase;
}
.merch__info__container{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.merch__info--baner *{
  margin: 0;
}
.merch__info--baner h1:nth-of-type(1) {
  grid-column: 2/3;
}
.merch__info--baner h1:nth-of-type(2) {
  grid-row: 2;
  grid-column: 2;
  transform: translateX(-70px);

}
.merch__info--baner h1:nth-of-type(3) {
  grid-row: 2;
  grid-column: 2;
  transform: translateX(60px);
}
.merch__info--baner span{
  background-color: #000;
  border: 7px solid #FFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  grid-column: 2;
  grid-row: 2;
  margin-left: 5px;
  border-top: 7px solid #333231;
  animation: loading 2.5s  infinite forwards ease-in-out;
}
@keyframes loading{
  0%{
    transform: rotate(0deg);
    border-top: 7px solid #333231;
  }
  25%{
    transform: rotate(120deg);
    border-top: 7px solid #d43f34;
  }
  50%{
    transform: rotate(240deg);
    border-top: 7px solid #df8d11;
  }
  75%{
    transform: rotate(360deg);
    border-top: 7px solid #df314e;
  }
  100%{
    transform: rotate(360deg);
    border-top: 7px solid #333231;
  }
}
.tracks__bar{
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}
.tracks_bar-track{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  background: linear-gradient(340deg, rgba(29,28,28,1) 40%, rgb(103, 113, 116) 100%);
  border-radius: 10px;
  margin-bottom: 30px;
}
.tracks_bar-track-title{
  font-size: 2rem;
  align-self: flex-start;
  margin-left: 15%;
  color: #1b1b1b;
  
}
.tracks_bar-track-image{
  width: 100%;
}
.track_bar-sm-links{
  display: flex;
  justify-content: space-between;
  height: 75px;
}
.track_bar-sm-links div{
  height: auto;
  width: 20%;
}
.tracks_bar-lyrics{
  border-radius: 7px;
  padding: 10px;
  -webkit-box-shadow: inset 0px -40px 24px -16px rgb(155 155 155);
-moz-box-shadow: inset 0px -40px 24px -16px rgb(155 155 155);
box-shadow: inset 0px -40px 24px -16px rgb(155 155 155);
}
.tracks_bar-lyrics-hidden{
  height: 70px;
  overflow: hidden;
}
.tracks_bar-lyrics-visible{
  height: auto;
}
footer{
  background-color: #1b1b1b;
  min-height: 120px;
  padding: 20px;
  padding-left: 10vw;
  height: 25vh;
  overflow: hidden;
  position: relative;
  font-size: 1.3rem;
  width: 100vw;
}
.footer__decoration{
  width: 130vw;
  height: 2px;
  background-color: #000;
  position: absolute;
  z-index: 0;
  transform-origin: 0% 50%;
}
footer div:nth-of-type(2){
  transform: rotate(30deg);
  top: 0;
  left: 0;
}
footer div:nth-of-type(3){
  transform: rotate(342deg);
  bottom: 0;
  left: 15vw;
}
footer div:nth-of-type(4){
  transform: rotate(-35deg);
  top: 35vh;
  right: -40vw;
}
footer div:nth-of-type(5){
  transform: rotate(30deg);
  top: 0;
  right: 0;
}
footer div:nth-of-type(6){
  transform: rotate(-33deg);
  bottom: 7vh;
  left: 0;
}
.sm__icons--visible{
  right: 0px;
}
.sm__icons--hidden{
  right: -80px;
}
.sm-icons-static-bar{
  height: 290px;
  width: 75px;
  background-color: #000;
  position: fixed;
    border-radius: 7px 0px 0px 7px;
    box-shadow: -3px 1px 7px -4px #FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 5;
    transition-duration: 0.4s;
}
.sm-icons-static-bar a{
  margin: 0 auto;
}
.sm-icons-footer-bar a{
  margin: 0 auto;
}
.sm-icons-footer-bar{
  height: 75px;
  width: 320px;
  background-color: #000;
  border-radius: 15px;
    right: 0;
    box-shadow: inset 3px 0px 7px -4px #FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    z-index: 8;
    position: absolute;
    left: 10vw;
    top: 8vh;
}
.sm-icons-static-bar a div div img{
  height: auto;
  max-width: 100%;
}
.sm-icons-footer-bar a div div img{
  max-height: 40px;
  width: auto;
}
.sm__icons--toggle__button{
  height: 60px;
  width: 45px;
  position: absolute;
  left: -45px;
  top: calc(50% - 38px);
  box-shadow: inset 3px 0px 7px -4px #FFF;
  border-radius: 6px 0px 0px 6px;
}
.sm__icons--toggle__button::before{
  content: '';
  width: 5px;
  border-radius: 2px;
  height: 25px;
  background-color: #FFF;
  position: absolute;
  top: 10.5px;
  right: 20px;
  pointer-events: none;
  transition-duration: 0.4s;
}
.sm__icons--toggle__button::after{
  pointer-events: none;
  content: '';
  width: 5px;
  border-radius: 2px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 25px;
  right: 20px;
  transition-duration: 0.4s;
}
.sm__icons__button--visible::after{
  transform: rotate(45deg);
}
.sm__icons__button--visible::before{
  transform: rotate(-45deg);
}
.sm__icons__button--hidden::after{
  transform: rotate(-45deg);
}
.sm__icons__button--hidden::before{
  transform: rotate(45deg);
}
header{
  box-shadow: 0px 0px 8px -1px #fff;
}
footer p{ 
  position: absolute;
  left: 15vw;
  margin: 10px;
  z-index: 8;
}
@media only screen and (min-width: 800px) {
  .events__list{
  }
  .event__card{
    max-width: 720px;
    margin-top: 20px;
    background-color: var(--color-code-bg);
    padding: 10px;
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(10,10%);
    min-height: 250px;
    border-radius: 3px;
    justify-items: center;
    background: linear-gradient(135deg, rgba(29,28,28,1) 75%, rgba(88,227,255,0.2553396358543417) 100%);
  
  }
  .event__card--info__button{
    background-color: var(--color-text);
    color: var(--back-main-color);
    padding: 12px;
    grid-column: 2/3;
    grid-row: 8/10;
    height: 45px;
    width: 75px;
    justify-self: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
    border: 2px solid transparent;
  }
  .event__card--info__button:hover{
    background: linear-gradient(135deg, rgba(29,28,28,1) 75%, rgba(88,227,255,0.2553396358543417) 100%);
    color: #fff;
    border: 2px solid #fff;
  }
  .event__card__image{
    max-height: 150px;
    width: auto;
    grid-row: 3/5;
    grid-column: 2/3;
    align-self: center;
    border-radius: 7px;
  }
  .events__card__title{
    grid-column: 1/2;
    align-self: center;
    grid-row: 1/3;
    z-index: 3;
    padding: 0px 0px 0px 5px;
    font-size: 1.4rem;
    font-weight: bold;
    height: fit-content;
    border-radius: 0px 4px 0px 0px;
  }
  .events__card__description{
    grid-column: 1/2;
    grid-row: 4/10;
  }
  .events__card_date{
    grid-column: 2/3;
    grid-row: 6/7;
    font-weight: 300;
  }
}
.bio__container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}
.bio__card__description{
  background-color: rgba(26,26,26);
  margin: 5vh 4vw 0px 4vw;
  padding: 8px;
  line-height: 1.7em;
  border-radius: 5px;
  box-shadow:  28px 19px 0px -1px #ffffff45;;
}
.bio__team__title{
  margin-top: 5vh;
}
.bio__member__card{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 3vw 3vh 3vw;
  background-color: #222222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 2px #fff;
}
.bio__member__card::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 0px;
  height: 0px;
  border-left: 350px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 55px solid #111111;
}
.bio__member__card::before{
  content: '';
  position: absolute;
  bottom: 114px;
  left: -165px;
  width: 0px;
  height: 0px;
  border-right: 350px solid transparent;
  border-left: 85px solid transparent;
  border-top: 55px solid #111111;
}

.bio__member__photo{
  max-width: 70vw;
  max-height: 50vh;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #696868;
}
.bio__member__name{
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.747);
  padding: 7px;
  margin-bottom: 7px;
  font-size: 1.2rem;
}
.bio__member__role{
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
}
.bio__member__instagram--url{
width: 70%;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
margin-bottom: 25px;
text-decoration: none;
}
.bio__instagram__icon{
  height: 30px;
  width: auto;
  margin: 0;
}
.bio__instagram__name{
  color: #FFF;
  margin: 0 0 0 10px;
}
.about__comepass--member::marker{
  display: none;
}
.about__comepass--member{
  margin-bottom: 2px;
}
.about__comepass__list{
  list-style: none;
  margin: 5px 0px 0px 5px;
}
.bio__cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}